extends ../layout

block content
  h1 Accounting
  p.mb-3 Overview of inventory value.
  h3 Total Inventory Value: $#{totalValue.toFixed(2)}
  a.btn.btn-sm.btn-secondary.mb-2(href='/accounting/report.csv') Export CSV

  if items.length
    table.table.table-striped
      thead
        tr
          th Name
          th Quantity
          th Unit Price
          th Total Value
      tbody
        each item in items
          tr
            td= item.name
            td= item.quantity
            td $#{item.price.toFixed(2)}
            td $#{(item.price * item.quantity).toFixed(2)}
  else
    p No inventory items found.
